body{
    background-color: #79AED8;
    font-family: "Baloo Tamma 2";
}
header{
    height: 20%;
    background-color: #063376;
    border-color: #79AED8;
}
select{
    font-family: "Baloo Tamma 2";
    font-size: 0.94rem;
}
/*Apartado busqueda por nombre y numero (input y button) (fondo blanco)*/
#searchBox {
    background-color: white;
}
/*Texto busqueda nombre y número (p) (fondo blanco)*/
p{
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
}
#searchTitle{
    color: #022761;
}
#searchText{
    color:#07224D;
    font-size: 1.3rem;
    font-weight:bolder;
}
/*Input de busqueda nombre  o numero*/
#searchName{
    color: black;
    font-size: 1.1rem;
    font-family: 'Baloo Tamma 2';
    font-weight:bolder;
    background-color: #79AED8;
    border-radius: 2rem;
    margin: 1%;
}

#searchNameText{
 color:#07224D;
 font-size: 1.25rem;
 font-family: 'Baloo Tamma 2';
 font-weight:bolder;
}

.search1{
    display:flex;
    flex-direction: row ;
    justify-content: center;
    gap: 2%;
    background-color: white;
    padding: 1%;
    align-items: center;
}
.filter1{
    display: flex;
    flex-direction: column;
    background-color:#E5E5E5;
    border-radius: 35px;
    height: 15%;
    padding-left: 1%;
    padding-right: 1%;


}
#searchButton,
.filterButton
{
    height: 25px;
    width: 80px;
    background-color: #79AED8;
    font-size: 1.1rem;
    color: white;
    font-family: 'Baloo Tamma 2';
    border-radius: 35px;
    margin: 1%;
    text-align: center;
}

#logo{
    height:20%;
    width: 8%;
    margin-top: .5%;
    margin-left: 3%;
    margin-right: 90%;
}

/*Tipos de pokemon del super buscador*/
.typeSearch{
height: 1.68rem;
width:6.25rem;
font-size:1.4rem;
color:white;
font-family: 'Baloo Tamma 2';
font-weight: bolder;
border-radius:35px;
margin: 10px;
text-align: center;
padding-bottom: 4px;
box-shadow: 4px 4px 2px #030322;
}

/*Tipos de pockemon del super buscador id individual para los colores*/

#bugs{
    background-color:#9ABD76;
}

#dragon{
  background-color: #E98A57;
}

#fairy{
    background-color:#F38AE9;
}

#fire{
    background-color: #C53943;
}

#ghost{
    background-color: #393656;
}

#ground{
    background-color: #C9D77B;
}

#normal{
    background-color: #5D748D;
}

#psychic{
    background-color: #47294C;
}

#steel{
    background-color: #949494;
}

#dark{
    background-color: #33373A;
}

#electric{
    background-color: #F0C964;
}

#fighting{
    background-color:#E6514C;
}

#flying{
    background-color: #74B3D9 ;
}

#grass{
    background-color: #48978A ;
}

#ice{
    background-color: #59A5D2;
}

#poison{
    background-color: #484276;
}

#rock{
    background-color: #966F24;
}

#water{
    background-color: #417B9E;
}

/*BOTON DE TIPO Y DEBILIDAD*/

.typeButton, 
.weaknessButton{
    background-color: #5D748D;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Baloo Tamma 2';
    color: white;
    margin: 2px;
    box-shadow: 2px 2px 2px #060644;
}
/*flex box botons*/
.filterPrincipal{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex-grow: 2;
    background-color:#022761;
    height:auto;
    width: 40%;
    padding: 10px;
    border-radius: 35px;
    margin: 0%;


}
.filter2{
    display:flex;
    flex-direction:row wrap;
    align-items:center;
}
.pokemonDisplay{
    background-color: #FFFF;
}
.superSearchBox{
    background-color:  #022761;  
    display:flex;
    border-radius: 35px;
    width: 60%
   

   
}
.abilityCandies{
    display:flex;
    flex-direction:column;
    background-color: #022761;
    padding: 10px;
    border-radius: 35px;
}

.filter3{
    display:flex;
    flex-direction:column;
}
.superSearchTitle{
    display:flex;
    flex-direction:column;
}
.superSearch{
    color: #0C4DA3;
}
/*Cartas de Pokemons */
.cardContainer{
display:flex;
margin: 5%;
flex-direction: row;
flex-wrap: wrap;
background-color: #B8E5FD;
}
.pokemonCard{
    height: auto;
    width: 18%;
    margin: 1%;
    background-color: #B6B6CD;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.pokemonDisplay{
    display: flex;
    background-color: #B8E5FD;
    
    
}
.sectionOne{
    background-color:#B8E5FD;
    padding-top:3%;
    padding-bottom:3%;
    
}
/*Boton ddulces*/
 .candy, .candy img{
    height: 65px;
    width: 65px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}

.searchTitle{
    align-items: center;
}

.cardName{
    text-align: center;
    font-size:1.5rem;
    margin:0%;
    font-weight:bolder;
}
.cardNum{
    font-size: 0.8rem;
    font-weight: bold;
    color: grey;
    align-items: left;
    margin-left: 8%;
}
.cardType{
    text-align: center;
    margin: 0%;
}
.cardImage{
    height: 70%;
    width: 70%;
    margin: 2px;
}
.fire{
  color:red;
}
.grass{
    color:green;
}